
build
.gradle
client/src/main/resources/*
client/src/main/java/net/minecraft
client/src/main/java/org
client/src/main/java/adaptive
server/src/main/java/net/minecraft
client/src/orig
server/src/orig
jars/*
/bin/
/server/bin
/server/run
/client/bin
/client/run
/.metadata/
tools/jdk17*
/run
